:root{
    font-family: 'Concert One', cursive;
    font-size: calc(1em + 0.2vw);
    color: rgb(18, 18, 18);
}

.column{
    display: flex;
    flex-direction: column;
    margin: 0 30vw;
}

.centered{
    text-align: center;
}